<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/navigation') %>

    <main class= "container d-flex justify-content-center align-items-center text-center vh-100 pt-2">
      <section>
        <h1 class="display-1">About Me</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa hic
          earum architecto reiciendis voluptas ducimus incidunt laboriosam
          dolorum provident. Eum maxime ipsum temporibus aliquid officiis
          voluptatum quia quae deleniti libero? Omnis optio repudiandae quia
          asperiores vel maiores eligendi necessitatibus odit, pariatur
          laudantium fugiat id, saepe natus dolore ex doloremque quasi iure a
          culpa eveniet exercitationem sunt cumque est. Perferendis tenetur
          placeat ducimus autem aliquid explicabo hic mollitia exercitationem a
          suscipit vitae, ullam fugiat, impedit alias corrupti quis eius iste,
          nam sapiente commodi! Quam libero minima excepturi error accusantium
          perspiciatis deserunt corporis, at non quia tenetur. Porro consequatur
          accusantium sint enim fugiat soluta rerum error rem nesciunt sed aut,
          quasi asperiores ipsum dolorum accusamus molestias iusto cupiditate
          unde quos tempora repudiandae quaerat dicta officiis animi. Est
          voluptatibus illum sint reprehenderit quos blanditiis dolor architecto
          cum suscipit accusamus consectetur aut deleniti at saepe quo, labore
          consequuntur rerum. Tempora ipsam quam blanditiis dolorum voluptatem
          non quidem, libero odio, voluptatum distinctio error modi asperiores
          iusto ad itaque. Soluta magnam at eveniet quidem similique, voluptatem
          nostrum dolore enim, blanditiis labore porro hic amet eaque tempora
          distinctio! Excepturi, earum itaque. Nemo eos saepe non perferendis at
          praesentium voluptas illo quasi delectus! Maxime, earum
          exercitationem? Excepturi, in.
        </p>
      </section>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
