<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- sintaxis extra de ejs, permite traer datos del back -->
    <title><%= title %></title>
    <%- include('partials/head') %>
  </head>

  <body>
    <%- include('partials/navigation') %>

    <!-- Main content -->
    <header
      class="container vh-100 d-flex justify-content-center align-items-center"
    >
      <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="/img/glaciar.jpg" alt="asd" class="rounded-pill w-25"/>
        <h1 class="display-1 my-5 text-uppercase fw-bold">Nahuel</h1>
        <a href="/about" class="btn btn-primary w-25 my-1">About</a>
        <a href="/contact" class="btn btn-primary w-25 my-1">Contact</a>
      </div>
    </header>
    <%- include('partials/footer') %>
  </body>
</html>
