<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- sintaxis extra de ejs, permite traer datos del back -->
    <title><%= title %></title>
</head>
<body>
    <h1>Primer Webpage</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis fuga explicabo delectus quo tenetur, officia perspiciatis architecto nihil consectetur inventore quibusdam excepturi cupiditate, a voluptatem nam sed, at autem velit.</p>
</body>
</html>