<footer>
    <h1>Lorem, ipsum dolor.</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores tempore reprehenderit impedit. Ea quisquam aut repellat. Nobis vero alias illo, fugit omnis quam natus porro culpa facilis cumque hic corrupti iusto similique quasi voluptatibus dolor eligendi recusandae atque unde eos totam perspiciatis quidem et. A ratione perferendis perspiciatis possimus qui!</p>
</footer>